$bgcBlack:#15171E;
$bgcBlack1:#23252B;
$colorBlue:#148EFF;
$colorWhite:#FFFFFF;
$colorGrey:#6b6b6b;
$colorYellow:#FFB400;
$breakPoint:(
    "xl":1200px,
    "lg":942px,
    "md":768px,
    "sm":580px,
    "mediaType":screen,
);